body {
    width: 100%;
    margin: 0;
    padding: 0;
    color: #333; /* Cor do texto ajustada para um tom de cinza escuro */
    height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-color: #f4f4f4;
    background: #353b3d;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
}

#home-screen{
    align-items: center;
    justify-content: center;
    margin-top: 20%;
}

#categories{
    display: flex-basis;
    
}

h1 {
    color: WHITE; /* Título em branco */
    font-weight: 700; /* Maior espessura para dar ênfase */
    margin-top: 50px; /* Deixa o título mais alto */
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

button {
    border: none;
    margin: 15px;
    font-size: 18px;
    color: white; /* Cor da fonte dos botões preta */
    cursor: pointer;
    font-weight: 700;
    padding: 15px 30px;
    border-radius: 15px; /* Bordas arredondadas para um visual mais moderno */
    background-color: white; /* Cor de fundo vermelha para os botões */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Suaviza transições */
    font-family: 'Roboto', sans-serif;
    background-color: #808080;
    border-top: solid 2px BLACK;
    border-left: solid 2px BLACK;
    border-right: solid 5px black;
    border-bottom: solid 5px black;
}

button:hover {
    background-color: white; /* Cor de fundo mais escura no hover */
    color: black; /* Texto branco ao passar o mouse */
    transform: scale(1.15); /* Aumenta o tamanho do botão no hover */
    border-top: solid 2px black;
    border-left: solid 2px black;
    border-right: solid 4px black;
    border-bottom: solid 5px black;
}

#confetes-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}

#quiz-screen{
    width: 100%;
    margin-top: 10%;
    font-size: 150%;
    color:#f4f4f4;
    font-weight: 500;
}

#next-button button{
    width: 40%;
    height: 25%;
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    font-size: large;
    border-radius: 10px;
    background-color: #343636;
    border-top: solid 1px #ffdd00;
    border-left: solid 1px #ffdd00;
    border-right: solid 5px #ffdd00;
    border-bottom: solid 5px #ffdd00;
}

#resultado{
    color: white;
    font-weight: 600;
}